.breadcrumb{display:none;}
#filters_sidebar_section{display:none;}
#current_user{display:none;}
#index_footer{display:none;}
.table_tools{display:none;}
#dashboard{display:none;}
#admin_comments{display:none;}
#admin_users{display:none;}
.col-selectable{display:none;}
.col-id{display:none;}
.col-reset_password_token{display:none;}
.col-encrypted_password{display:none;}
.col-reset_password_sent_at{display:none;}
.col-remember_created_at{display:none;}
.col-last_sign_in_at{display:none;}
.col-current_sign_in_ip{display:none;}
.col-last_sign_in_ip{display:none;}
.col-created_at{display:none;}
.col-updated_at{display:none;}
.col-actions{display:none;}
